<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Daftar Kelas</h1>
</div>

<div class="row">

  <div class="col-lg-12">
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">

        <!-- <label for="">Data</label> -->
        <button class="btn btn-success btn-circle btn-sm" data-toggle="tooltip" data-placement="top"
          title="Tambah kelas" (click)="initCreate()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="card-body">
        <p class="text-center" *ngIf="classes.length === 0">Silahkan masukkan data kelas</p>
        <table class="table table-default table-sm" *ngIf="classes.length !== 0">
          <thead>
            <tr style="border-top: hidden;">
              <th>Kode</th>
              <th>Nama</th>
              <th>Tingkat</th>
              <th>Program Studi</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let class of classes; let i = index">
              <td>{{ class.id }}</td>
              <td>{{ class.name }}</td>
              <td>{{ class.grade }}</td>
              <td>{{ class.getStudyProgram().name }}</td>
              <td>
                <div class="dropdown no-arrow">
                  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" (click)="initUpdate(i)">
                      <div class="float-right">
                        <i class="fa fa-pen"></i>
                      </div> Ubah
                    </button>
                    <button class="dropdown-item" data-toggle="modal" (click)="initDelete(i)">
                      <div class="float-right">
                        <i class="fa fa-trash"></i>
                      </div> Hapus
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

  </div>

</div>

<!-- Class Form Modal-->
<div class="modal fade" id="classFormModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #classForm="ngForm" (ngSubmit)="classForm.form.valid && storeClass(classForm)">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">
            {{ storeMode == 'update' ? 'Ubah ' + classes[workingIndex].name : 'Tambah kelas' }}
          </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <input name="id" class="form-control" placeholder="Kode kelas" required #id="ngModel" [(ngModel)]="model.id"
              [ngClass]="{ 'is-invalid': classForm.submitted && id.invalid }" />

            <div *ngIf="classForm.submitted && id.invalid" class="invalid-feedback">
              <div *ngIf="id.errors['required']">
                mohon masukkan kode kelas
              </div>

              <div *ngIf="id.errors['unique']">
                data <strong>{{ id.value }}</strong> sudah ada
              </div>
            </div>
          </div>

          <div class="form-group">
            <input name="name" class="form-control" placeholder="Nama kelas" required #name="ngModel"
              [(ngModel)]="model.name" [ngClass]="{ 'is-invalid': classForm.submitted && name.invalid }" />

            <div *ngIf="classForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors['required']">
                mohon masukkan nama kelas
              </div>

              <div *ngIf="name.errors['unique']">
                data <strong>{{ name.value }}</strong> sudah ada
              </div>
            </div>
          </div>

          <div class="form-group">
            <input name="grade" class="form-control" placeholder="Tingkat" required #grade="ngModel"
              [(ngModel)]="model.grade" [ngClass]="{ 'is-invalid': classForm.submitted && grade.invalid }" />

            <div *ngIf="classForm.submitted && grade.invalid" class="invalid-feedback">
              <div *ngIf="grade.errors['required']">
                mohon masukkan tingkat
              </div>

              <div *ngIf="grade.errors['unique']">
                data <strong>{{ grade.value }}</strong> sudah ada
              </div>
            </div>
          </div>

          <div class="form-group">
            <select name="studyProgramId" class="form-control" placeholder="test" required #studyProgramId="ngModel"
              [(ngModel)]="model.studyProgramId"
              [ngClass]="{ 'is-invalid': classForm.submitted && studyProgramId.invalid }">
              <option disabled [ngValue]="undefined">Program Studi</option>

              <option *ngFor="let studyProgram of studyPrograms" [ngValue]="studyProgram.id">
                {{ studyProgram.name }}
              </option>
            </select>


            <div *ngIf="classForm.submitted && studyProgramId.invalid" class="invalid-feedback">
              <div *ngIf="studyProgramId.errors['required']">
                mohon masukkan program studi kelas
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Batal</button>
          <button class="btn btn-success btn-sm" type="submit">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="classDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <small>Apa anda yakin ingin menghapus data</small>
        <h4><strong>{{ model.id }}</strong></h4>
        <small class="text-danger mt-4">*data yang telah terhapus tidak dapat dikembalikan</small>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Batal</button>
        <button class="btn btn-danger btn-sm" type="button" (click)="deleteClass()">Hapus</button>
      </div>
    </div>
  </div>
</div>
