<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Sensasi Scheduler</h1>
</div>

<div class="row">

  <div class="col-lg-8 mb-4">
    <p>
      Adalah aplikasi penjadwalan kegiatan belajar mengajar
      perkuliahan dengan menggunakan algoritma genetika.
      aplikasi ini menyimpan data secara lokal yang artinya
      semua data yang dimasukkan ke dalam aplikasi ini tidak akan keluar
      dari perangkat anda.
    </p>
  </div>

  <!-- <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        Kritik & Saran
      </div>
      <div class="card-body">
        <p>kirimkan kritik dan saran anda untuk pengembangan aplikasi, jika tidak ada kirim terima kasih juga bisa.</p>
        <form>
          <div class="form-group">
              <input name="email" type="email" class="form-control" placeholder="Email">
          </div>

          <div class="form-group">
              <input name="name" class="form-control" placeholder="Nama" required>
          </div>

          <div class="form-group">
            <textarea name="massege" class="form-control" cols="30" rows="10" placeholder="Pesan" required></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-secondary" type="submit">Kirim</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
</div>
